body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  margin: 5rem;
}

main {
  max-width: 50%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 20rem;
}

.font {
  font-size: 25px;
}

#p-fonts {
  font-size: 25px;
  letter-spacing: 1px;
}

#btn-facts {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-colors);
  margin: auto;
  font-size: 18px;
}
